@model DojoTest.badge

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>badge</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.badgeStepId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.badgeStepId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.badgeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
