@model IEnumerable<DojoTest.ninja>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ninjaName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.classId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joined)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.websiteUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ninjaAttendance.ninjaId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ninjaName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.classId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joined)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.websiteUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ninjaAttendance.ninjaId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ninjaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ninjaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ninjaId })
        </td>
    </tr>
}

</table>
