@model DojoTest.ninja

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ninja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ninjaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ninjaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joined)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joined)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.websiteUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.websiteUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ninjaAttendance.ninjaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ninjaAttendance.ninjaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dojoClass.className)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dojoClass.className)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ninjaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
